extends layout

block content
  div(class="content-wraper")
    section(class="content__section")
      h1(class="bar-name") Мой Бар
      h3(class="descr") открыты с 18:00 до 2:00 каждый день
  img(class="bar-img" src="../images/bar.jpg", alt="барная стойка")
  footer
    div(class="footer-element emails")
      div(class="write-us") Наши контакты:
        a(class="ref-email" href="") best@bar.ru
        a(class="ref-email" href="") my@bar.ru
        a(class="ref-email" href="") +7 (777) 777-77-77
    div(class="footer-element") &copy; 2020 ООО«Мой бар»
